* {
  margin: 0%;
  padding: 0%;
  font-family: "Be Vietnam Pro", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/Sadmonk.gif);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 4%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 100px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 6px 8px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ca5303;
  display: block;
  margin: auto;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1);
}
.nav-links ul li:hover::after {
  width: 100%;
}
/* text box  and btn */
.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #ca5303;
  background: #ca5303;
  transition: cubic-bezier(0.47, 0, 0.745, 0.715);
}
/*----nav for mobile*/
nav .fa {
  display: none;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #ca5303;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}
/*----Coruse----*/
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: #ca5303;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 800px) {
  .row {
    flex-direction: column;
  }
}
/* moods monke css*/
.moods {
  width: 75%;
  margin: auto;
  text-align: center;
  padding-top: 5px;
}
.moods-col {
  flex-basis: 23%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
}
.moods-col img {
  width: 100%;
  justify-content: space-between;
}
/*act monke css*/
.act {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.act-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: center;
}
.act-col img {
  width: 100%;
  border-radius: 10px;
}
/* monk feedback*/
.fedb {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.fedb-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #ca5303;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.fedb-col img {
  height: 55px;
  margin-left: 2px;
  margin-right: 15px;
  border-radius: 50%;
}
.fedb-col p {
  padding: 0%;
}
.fedb-col h3 {
  margin-top: 15px;
  text-align: left;
}
/*contact us mf*/
.cta {
  margin: 100px auto;
  width: 65%;
  background-image: linear-gradient(
      rgba(179, 104, 6, 0.1),
      rgba(179, 104, 6, 0.1)
    ),
    url(img/bobo.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
@media (max-width: 800px) {
  .cta h1 {
    font-size: 20px;
  }
}
/* footer*/
.footer {
  background: #ca5303;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-attachment: fixed;
}
.footer h4 {
  color: #fff;
  margin-bottom: 15px;
  margin-top: 20px;
  font-weight: 600;
}
.footer p {
  color: #fff;
}
.icons {
  color: #fff;
}
/*-----about us page-----*/
.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(199, 138, 6, 0.2),
      rgba(199, 138, 6, 0.2)
    ),
    url(img/bkabout2.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.sub-header h1 {
  margin-top: 100px;
}
/*-----abous us col-----*/
.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
}
.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col img {
  width: 100%;
}
.about-col h1 {
  padding-top: 0;
}
.about-col p {
  padding: 15px 0 25px;
}
.btn {
  border: 1px solid #ca5303;
  background: transparent;
  color: #ca5303;
}
.btn:hover {
  color: #fff;
}
/*-----contactuspage-----*/
.loc {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.loc iframe {
  width: 100%;
}
.conta {
  width: 80%;
  margin: auto;
}
.conta-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}
.conta-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.conta-col div .fa {
  font-size: 28px;
  color: #ca5303;
  margin: 10px;
}
.conta-col div p {
  padding: 0;
}
.conta-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}
.conta-col input,
.conta-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/*---Videos css---*/
.contai {
  width: 80%;
  margin: 80px auto;
}
.contat-col {
  text-align: center;
}
.contat-col h2 {
  margin: 50px 25px 30px;
}
@media (max-width: 800px) {
  .contat-col iframe {
    width: 80%;
  }
  .fv {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(199, 138, 6, 0.2),
        rgba(199, 138, 6, 0.2)
      ),
      url(img/bkgo.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
  }
  .fv h1 {
    font-size: 25px;
  }
}
.fv {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(199, 138, 6, 0.2),
      rgba(199, 138, 6, 0.2)
    ),
    url(img/bkgo.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
/*---Courses page--*/
.cosp {
  width: 80%;
  margin: 80px auto;
  text-align: center;
}
.vow {
  border: 3px solid #ca5303;
  border-radius: 10px;
  margin-top: 150px;
  box-shadow: 2px 25px 25px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.cosp-col-img1 img {
  width: 87%;
  padding: 30px;
}
.cosp-col {
  margin: 30px 20px 25px;
}
.cosp-col h3 {
  font-size: 34px;
}
.cosp-col-img2 img {
  padding: 40px;
}
.cosp-col-img3 img {
  padding: 31px 87px;
}
@media (max-width: 800px) {
  .cosp-col-img1 img {
    width: 80%;
  }
  .cosp-col-img2 img {
    width: 80%;
    padding-left: 30px;
  }
  .cosp-col-img3 img {
    margin-top: 55px;
    width: 80%;
    padding: 1px 30px;
  }
  .cosp-col {
    margin: 20px 0 25px;
  }
}
.cf {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(199, 138, 6, 0.2),
      rgba(199, 138, 6, 0.2)
    ),
    url(img/mone.gif);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.to-top {
  background: #ca5303;
  position: fixed;
  bottom: 20px;
  right: 25px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}
.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
@media (max-width: 800px) {
  .to-top {
    display: none;
  }
}
